{% extends "index.html" %}

{% block content %}
<form class="d-flex" action="{% url 'teachers:search' %}" method="get">
    <select class="form-select" name="course_id">
        {% if selected_id %}
        <option value={{selected_id}} selected disabled>Current value: {{selected_name}}</option>
        {% else %}
        <option selected disabled>Current value: All courses</option>
        {% endif %}
        <option value="">All courses</option>
        {% for course in courses %}
        <option value={{course.id}}>{{ course }}</option>
        {% endfor %}
    </select>
    <button class="btn btn-outline-success" type="submit">Search
    </button>
</form>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone number</th>
        <th scope="col">Course</th>
    </thead>
    <tbody>
    {% for teacher in object_list %}
    <tr>
        <th scope="row">{{ teacher.id }}</th>
        <td>{{ teacher.first_name }}</td>
        <td>{{ teacher.last_name }}</td>
        <td>{{ teacher.email }}</td>
        <td>{{ teacher.phone_number }}</td>
        <td>{% for course in teacher.course.all %}
            {{ course}}
            {% endfor %}
        </td>
    </tr>
    {% endfor %}

    </tbody>
</table>
{% endblock %}