{% extends "index.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <div>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <br>
            <input class="btn btn-success" type="submit" value="Sign in"/>
        </form>
        <br>
        <a href="{% url 'social:begin' 'github' %}"><img alt="github" class="img-fluid" width=25 src="{% static 'img/github.png' %}"/>
        Login with GitHub</a><br>
        <br>
        <p> <a href="{% url 'students:password_reset' %}">Forgot password?</a></p>
    </div>
{% endblock %}