{% extends "index.html" %}

{% block content %}
<form class="d-flex" action="{% url 'students:search-by-course-teacher' %}" method="get">
    <select class="form-select" name="course_id">
        <option value={{selected_id}} selected>{{selected_name}}</option>
        {% ifnotequal selected_id "all" %}
        <option value="all">All courses</option>
        {% endifnotequal %}
        {% for course in courses %}
        <option value={{course.id}}>{{ course.name }}</option>
        {% endfor %}
    </select>
    <button class="btn btn-outline-success" type="submit">Search
    </button>
</form>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone number</th>
        <th scope="col">Course</th>
    </thead>
    <tbody>
    {% for teacher in objects_list %}
    <tr>
        <th scope="row">{{ teacher.id }}</th>
        <td>{{ teacher.first_name }}</td>
        <td>{{ teacher.last_name }}</td>
        <td>{{ teacher.email }}</td>
        <td>{{ teacher.phone_number }}</td>
        <td>{% for course in teacher.course.all %}
            {{ course}}
            {% endfor %}
        </td>
    </tr>
    {% endfor %}

    </tbody>
</table>
{% endblock %}